.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  float: inline-start;
  padding: 20px;
  margin-left: 100px;
  margin-top: 20px;
}
h1,
h2 {
  text-align: center;
}
#pic {
  width: 50%;
}
#pic1 {
  width: 60%;
}
#pic2 {
  width: 100%;
}
#div1 {
  width: 400px;
}
#div2 {
  text-align: center;
}
a {
  color: black;
}
