#steelers {
  background-image: url('img/wp1828929.jpg');
  width: 1500px;
  height: 200px;
}

#dark {
  color: white;
}
a {
  border: 2px solid black;
  border-radius: 12px;
  background-color: whitesmoke;
  color: gold;
  text-decoration: none;
  padding: 5px;
}
a:hover {
  background-color: black;
}
#me {
  float: left;
  width: 126.5px;
  margin: 5px;
  border: solid black;
  height: 188.25px;
}
